.my_container{
    width: 600px;
}

table thead tr th:first-child{
    width: 50px;
}

.bc-table{
    background-color: #e6a337;
}

tbody p {
    line-height: 100%;
}

.line-through{
    text-decoration-line: line-through;
}